# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Model & data 
saved_model/
tfjs_model/
tflite/
*.h5
*.keras
*.pb

# Data & gambar
dataset/
data/
*.zip

# IDE & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Environment
.env